* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #ffff;
}

img {
  border-radius: 0.5em;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.5);
}

/* ***  Submenu   *** */
.nav-item {
  position: relative;
}
.nav-item .submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  z-index: 1000;
}
.nav-item:hover .submenu {
  display: block;
}
.submenu a {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
}
.submenu a:hover {
  background-color: #f0f0f0;
}

/* *****   Estilos Menu Hamburguesa   ***** */

.navbar-toggler {
  border-color: #ffffff !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

/*****/

.image img {
  width: 35.4%;
}
/* *****   RRSS   ***** */
.text-icon {
  color: #ffff;
  font-size: 1.8rem;
  font-weight: bold;
  text-decoration: none;
}

.text-icon:hover {
  color: #efc807;
  text-shadow: 0 3px 6px rgba(255, 255, 255, 0.5);
}

/* *****   Responsive   ***** */

@media (max-width: 576px) {
  .navbar-brand img {
    height: 30px;
  }

  .navbar-brand h4 {
    font-size: 0.8em;
  }

  .navbar-toggler {
    padding: 0 !important;
  }
  .text-overlay {
    left: 10%;
  }

  #nosotros-image {
    width: 80%;
    height: 75%;
  }

  #nosotros-text {
    text-align: justify;
  }
}
